.banner{
    width: 100%;
}

.bannerContainer{
    display: flex;
}
.bgGray{
    background: var(--color-neutral-gray);
    width: 90%;
    height: 600px;
}
.bannerGray{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}
.logo{
    /* position: absolute; */
    margin-left: 172px;
    margin-top: 72px;
    height: 100px;
}
.bannerIntroduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 300px;
}

.greet{
/* height: 58px; */
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 30px;
display: flex;
text-align: center;
}
.name{
font-family: Raleway;
font-style: normal;
text-transform: capitalize;
font-weight: bold;
font-size: 50px;
}
.stack{
font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 25px;
color: #919191;
}

.socialLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.socialLinks span{
    margin: 15px;

}
.bgBlack{
    background: var(--color-black);
    -webkit-clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    margin-left: -125px;
    width: 100%;
    height: 600px;
}
.bannerBlack{
    color: var(--color-white);
    padding-right: 30px;
}
.bannerImage{
    margin-left: 100px;
    float: right;
    margin-right: 80px;
    height: 450px;
    width: 350px;
    padding-top: 20px;
}
.bannerNav{
    display: flex;
    justify-content: flex-end;
}
.bannerNav li{
    list-style: none;
    margin: 0 10px;
    margin-top: 55px;
    font-size: 20px;
    text-transform: capitalize;
}
.bannerNavLink{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--color-white);
}
.bannerNavLink:hover{
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 9999px;
    transition: 0.5s ease;
}

.bannerIntroduction{
    display: flex;
    flex-direction: column;
    
}


@media (max-width: 980px){
    .bannerNav li {
        display: none;
    }
    .bannerContainer{
        flex-direction: column-reverse;
    }
    .bgBlack{
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%) !important;
        height: 200px;
        width: 100%;
         margin: 0 !important;

    }
    .bannerBlack{
        margin: 0;

    }
    .bgGray{
        margin-top: -70px;
        width: 100% !important;
        height: 350px;
    }
.bannerGray{
    margin: 0;
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    display: none;
}
.socialLinks{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}
.socialLinks span{
    margin: 5px 0;
}
.bannerImage{
    float: left;
    height: 200px;
    width: 150px;
    margin-top: -30px;
}
}

@media (max-width: 600px){
    .greet{
        font-size: 25px;
    }
    .name{
        font-size: 30px;
    }
    .stack{
        font-size: 20px;
    }
}